body {
    font-family:'Times New Roman', Times, serif  ;
    background-color: rgb(187, 187, 94);
    margin: 0px;
    padding: 250px ;
    display: flex;
    justify-content: center;

}
.container {
    background-color:  rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    border-color: #ccc;
    box-shadow: 1px 1px 0px 1px  #1c2904;
}
h1 {
    color: rgb(69, 87, 27);
    text-align: center;
}
.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 0px 5px ;
    border: 1px  solid #CCC;
    border-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
    /*cursor: progress;*/
}

button {
    padding: 5px 7px;
    background-color:  #8ea825;
    color: #ccc;
    border: 0px solid #CCC;
    border-radius: 4px;
    box-shadow: 1px 1px 0px 1px  #ccc;
    transition: 0.3s;
}

button:hover{
    background: rgb(81, 121, 6);
}

ul {
    padding: 0px;
    margin-top: 20px;
}

ul li{
    background: rgb(245, 247, 243);
    padding: 6px 8px;
    border-radius: 4px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li button{
    color: white;
    background-color:  #8ea825;
    padding: 6px;
    font-size: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3S;
}
ul li button:hover {
    background: #486e0a;
}
